.category {
  width: 100%;
  padding: 1.5rem 0;
  display: grid;
  gap: 5rem 2rem;
}

.list {
  display: grid;
  gap: 2rem;
}

.empty {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .category {
    grid-template-columns: 60% 40%;
  }
}
