.author {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  position: relative;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 2rem;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.author h3 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
